body {
    background-color: black;
    text-align: center;
}

.container {
    border: solid;
    color: white;
    margin: auto;
    max-width: 1279px;
    height: 700px;
    text-align: center;
    background-image: url("../images/background7.jpg");
    background-position: center;
    
}

h1 {
    color: white;
    font-size: 70px;
    width: 850px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;

    
}

#wrapper {
    border: solid;
    color: greenyellow;
    max-width: 800px;
    height: 490px;
    margin: auto;
    
}
button {
    width: 100px;
    height: 50px;
    margin: center;
    font-size: 20px;
    
    
}
.pics {
    height:200px;
}